/* custom-styles.css */

:root {
  --primary-100:#FF6600;
  --primary-200:#ff983f;
  --primary-300:#ffffa1;
  --accent-100:#F5F5F5;
  --accent-200:#929292;
  --text-100:#FFFFFF;
  --text-200:#e0e0e0;
  --bg-100:#1D1F21;
  --bg-200:#2c2e30;
  --bg-300:#102033;
    
    
      
  }
  
  /* Estilos para el contenedor del menú */
  .nav {
    display: flex;
    justify-content: center;
    background-color: var(--bg-300); /* Cambia el color de fondo según tus preferencias */
    padding: 1rem; /* Añade espaciado alrededor del menú */
    border-radius: 50px;
  }
  
  /* Estilos para los enlaces de navegación */
  .nav-link {
    margin: 0 1rem; /* Espaciado entre los enlaces */
    text-decoration: none; /* Quita la decoración de subrayado */
    color: var(--primary-300); /* Utiliza el color de texto personalizado */
    font-weight: bold; /* Texto en negrita */
    transition: background-color 0.3s; /* Transición suave al pasar el cursor */
  }
  
  /* Estilos para los enlaces activos */
  .nav-link.active {
    color: var(--text-200); /* Color azul para los enlaces activos */
    background-color: var(--bg-100);
    border-radius: 10px;
  }
  
  /* Estilos al pasar el cursor sobre los enlaces */
  .nav-link:hover {
    background-color: var(--accent-100); /* Cambia el color de fondo al pasar el cursor */
  }
  /* styles.css o styles.scss */
  body{
    background-color: white;
  }
title{
    color: var(--accent-200);
}
h1{
    color: var(--text-100);
}
.home{
  text-align: center;
  padding: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-color: var(--bg-300);
}
.imagediv {
  position: fixed; /* Posición fija */
  bottom: 0; /* Colócalo en la parte inferior */
  right: 0; /* Colócalo en la parte derecha */
  width: 220px; /* Ancho de la imagen */
  height: 100px; /* Altura de la imagen */
  background-image: url("../assets/images/alMedioLogo.jpg");
  background-size: cover;
  margin-bottom: 10px;
}


  